.nextpost {
    position: sticky !important;
    left: 870px !important;
}

.imgdetail {
    height: 110px;
    width: 100px;
}

/* .imgblog {
    height: 267px !important;
    width: 251px !important;
} */

.imgblog{
    margin-bottom: 15px;
    width: 350px;
    height: 250px;
}
