.arrowdown::after {
    content: "\f107";
    position: absolute;
    font-family: "EcIcons";
    top: 0;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
    pointer-events: none;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    line-height: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #777777;
}
